/*Footer starter her*/
.top-buffer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.icon-size img {
  width: 50px;
  height: auto;
}

.no-padding-b {
  padding-top: 16px;
  padding-bottom: 0;
}
/*Footer sluter her*/

@font-face {
    font-family: scaryfont;
    src: url("../fonts/Northwood High.ttf");
}


#maintext {
  font-family: scaryfont, cursive;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/1280x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.display-4 {
  font-size: 35px;
  text-align: center;
}

.jumbotronfix {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background: 0;
  color: white;
  height: 45vh;
}

@media (min-width: 991.98px) {
  .jumbotronfix {
    height:90vh;
  }


.opacityarea {
    background-color: #d3d3d3;
    opacity: 10%;
    empty-cells: hide;
}
