@font-face {
    font-family: scaryfont;
    src: url("../fonts/Northwood High.ttf");
}


#maintext {
  font-family: scaryfont, cursive;
}

/*

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/1280x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

*/

.overskrifter {
  font-size: 30px;
  text-align: center;
}
@media (min-width: 991.98px) {
  .overskrifter {
    font-size: 45px;
    text-align: left;
  }
}



.jumbotronfix {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background: 0;
  color: black;
  padding: 0;
}

@media (min-width: 991.98px) {
  .jumbotronfix {
    height:92.5vh;
  }


.opacityarea {
    background-color: #d3d3d3;
    opacity: 10%;
    empty-cells: hide;
}


h5 {
  margin: 0;
}

.jumbotron {
  margin: 0;
  border-radius: 0;
}

.blood {
    background-image: url("../img/blood1.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}


.spacebetween {
width: 100%;
display: flex;
justify-content: space-between;
}

.buttonsize {
  width: 45%;
}

.buttonsize:hover {
  background: #911926;
}

body, html {
  margin: 0;
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
